
#info_pie{
	display: block;
    width: 310px;
    height: 250px;
    float: left;
    padding: 0 10px 20px 0;
    border-right-style: solid;
    margin-top: 20px;
    margin-left: 65px;
    margin-bottom: 20px;
}

#separador {
        border: 1px solid;
        height: 0px;
        width: 300px;
        background-image: linear-gradient(left,#000000,#ffffff, #000000);
        border-radius: 300px/10px;
}

#texto_pie{
    font-size: 10px;
    font-family: sans-serif;
    color: white;

}

#titulos_pie{
    font-family: sans-serif;
    

}
#info_pie a{
    font-size: 10px;
    font-family: sans-serif;
    color: white;
}