
#caja_arriba{
width: 95%;
height: 170px;
margin-left: 60px;
background: lavender;
border: 2px solid black;
margin: 30px;
margin-top: 90px;
margin-bottom: 50px;
border-radius: 60px;
font-family: sans-serif 30px;
opacity: .9;

-moz-box-shadow: rgb(150,150,150) 5px 5px; 
 -webkit-box-shadow: rgb(150,150,150) 5px 5px;
   box-shadow: rgb(150,150,150) 5px 5px;
}

#img{  
    float: right;
    width: 400px;
    height: 150px;
    position: relative;
    top: -60px;
    vertical-align: middle;
}

#img2{
    float: left;
    width: 250px;
    height: 150px;
    position: relative;
    top: -60px;
    vertical-align: middle;
    margin-left: 2%;
}

#titulo{
     font-style: oblique black;
      font-size: 24px;
      vertical-align: middle;
      margin-left: 400px;
      color: #000099;
}

#texto_centro{
    font-size: 18px;
    position: relative;
    margin-left: 430px;
    top: -140px;
    display: inline-block;
    color: black;
}

.pocision{
     margin-left: 5%;
     margin-bottom: 4%;
     color: black;
     font-family: sans-serif;
     font-size: 12px;
     text-align: center;
     width: 18.5%;
     display: inline-block;
      margin: 3%;
      margin-left: 9%;
}


#cajota{
	width: 99.2%;
	border: 5px solid blue;
    background: -webkit-linear-gradient(250deg, blue, lavender, white);
box-shadow: rgb(150,150,150) 5px 5px 10px;
}


@font-face{
font-family: 'sikin';
src: url('SinkinSans-600SemiBold.otf');
}

p{
font-size: 20px;
font-family: 'sikin';

}
