*{
	display: block;
	margin-top: 0px;
}
body,div,header{
	display: block;
	margin-top: 0px;
}

#caja_principal{
	width: 90%;
	height: auto;
	border:5px solid blue;
	margin-left: 55px;
	background: white;
	margin-top: 0px;
	background src(img/circulos.jpg");
}

body{
	background: black;
	color:white;
}

@font-face {
    font-family: 'sinkin';
    src: url('SinkinSans-600SemiBold.otf'); 
}

#letra{
  font-family: 'sinkin';
  font-size:90px;
  color: red;
}