div,header{
	display: block;
	margin-top: 0px;
}

body {
	margin:0;
	padding:0;
	background: #cccccc;
	color: white
}

#slidebox{
	position:relative; 
	border:0px solid yellow; 
	margin:0px auto;
	overflow:hidden;
	margin-left: 0%;
}

#slidebox, #slidebox ul {
	width:100%;
	height:400px;
}

#slidebox, #slidebox ul li{
	width:100%;
	height:400px;
}

#slidebox ul li{
	position:relative;
	left:0;
	background:#eee; 
	float:left;
	list-style: none;
	padding:0px 0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
}
.multiple-items{
	width:700;
	height: 300;
}
#tam_imagen{
width: 100%;
height: 100%;
}


#slidebox .next, #slidebox .previous{
	position:absolute;
	z-index:2;
	display:block; 
	width:21px; 
	height:21px;
	top:139px;
}

#slidebox .next{
	right:0; 
	margin-right:10px; 
	background:url(img/slidebox_next.png) no-repeat left top;
}

#slidebox .next:hover{
	background:url(img/slidebox_next_hover.png) no-repeat left top;
}

#slidebox .previous{
	margin-left:10px; 
	background:url(img/slidebox_previous.png) no-repeat left top;
}

#slidebox .previous:hover{
	background:url(img/slidebox_previous_hover.png) no-repeat left top;
}

#slidebox .thumbs{
	position:absolute; 
	z-index:2; 
	bottom:10px; 
	right:10px;
}

#slidebox .thumbs a{
	display:block; 
	margin-left:5px; 
	float:left; 
	font-family:Verdana, Geneva, sans-serif; 
	font-size:9px; 
	text-decoration:none; 
	padding:2px 4px; 
	background:url(slidebox_thumb.png); 
	color:#fff;
}

#slidebox .thumbs a:hover{
	background:#fff; 
	color:#000;
}

#slidebox .thumbs .thumbActive{
	background:#fff; 
	color:#000;
	 display:block;
	  margin-left:5px; 
	  float:left; font-family:Verdana, Geneva, sans-serif;
	   font-size:9px; 
	   text-decoration:none; 
	   padding:2px 4px;
	}

#caja_principal{
	width: 90%;
	height: auto;
	border:2px solid gray;
	margin-left: 55px;
	background: white;
	top: 0px;
}
#caja_principal2{
	width: 90%;
	height: 700px;
	border:2px solid gray;
	margin-left: 55px;
	background: white;
	top: 0px;
	font-style: black;
	font-color: red;
}


#texto_parrafo{
	color: black;
	font-size: 18px;
	font-family: Berlin Sans FB Demi;
	margin: 5%;
	margin-top: -.5%;
	text-align: justify;
	text-shadow: rgb(0,0,15) 1px 1px 1px;
}

#texto_parrafo2{
	font-color: red;
	color: black;
	font-size: 18px;
	font-family: Berlin Sans FB Demi;
	margin: 5%;
	text-align: justify;
	text-shadow: rgb(0,0,150) 3px 3px 6px;
	margin-left: 0%;
}
#texto_usuario{
	font-size: 24px;
	font-color: black;
	float: right;
	position: relative;
	top: 8px;
	margin-right: 15px;
	vertical-align: middle;
	font-family: sans-serif;
}

#ig_per{
	border-radius: 2px 2px 2px 2px;
	margin-top: 8px;
	float: right;
	margin-right: 7px;

}

#texto_usuario a:visited{
 color: white;
 text-decoration: none;

}


#titulosusr{
	color: black;
	font-size: 60px;
	font-family: sans-serif;
	text-align: center;

}

.titulos{
	color: black;
	font-size: 30px;
	font-family: monospace;
	position: relative;
	left: 40px;

}