#sep{
  margin: 5% 0% 0% 0%;
}

#info{

  width: 99.7%;
  height: 18%;
  margin: 0%;
  margin-top: -2.5%;
  font-family: sans-serif;
  font-color: black;
  background: white;
  color: black;
	font-size: 18px;
	font-family: Berlin Sans FB Demi;
	text-align: justify;
	text-align: center;
	text-shadow: rgb(0,0,0) 0px 0px 0px;
}

#poci{   
     margin-left: 2%;
     margin-bottom: 2%;
     color: black;
     font-family: sans-serif;
     font-size: 14px;
     text-align: center;
      margin: 1%;
      float: left;
      display: inline-block;
      vertical-align: middle;
}
#poci1{   
     margin-left: 2%;
     margin-bottom: 2%;
     color: black;
     font-family: sans-serif;
     font-size: 14px;
     text-align: center;
      margin: 1%;
      float: left;
      display: inline-block;
      vertical-align: middle;
}
#poci2{   
     margin-left: 2%;
     margin-bottom: 2%;
     color: black;
     font-family: sans-serif;
     font-size: 14px;
     text-align: center;
      margin: 1%;
      float: left;
      display: inline-block;
      vertical-align: middle;
}
#poci3{   
     margin-left: 2%;
     margin-bottom: 2%;
     color: black;
     font-family: sans-serif;
     font-size: 14px;
     text-align: center;
      margin: 1%;
      float: left;
      display: inline-block;
      vertical-align: middle;
}

#tama2{
  border: 2px solid yellow;
    position:relative;
    top: 20px;
      float:right;
      margin-right: 120px;
      display: inline-block;
}
#tama3{
  border: 2px solid orange;
    position: relative;
        top: 50px;
        margin-right: 120px;
    float:right;
    display: inline-block;

}
#tama4{
      border: 2px solid green;
        position: relative;
        top: 20px;
    	margin-right: 120px;
  		float: right;
  		display: inline-block;
}
#tama5{
  border: 2px solid blue;
  position: relative;
  top: 50px;
   margin-right: 120px;
    float:right;
    display: inline-block;
}
#tama6{
 border: 2px solid green;
        position: relative;
        top: 20px;
    	margin-right: 120px;
  		float: right;
  		display: inline-block;}
#tama7{
   border: 2px solid blue;
  position: relative;
  top: 50px;
   margin-right: 120px;
    float:right;
    display: inline-block;
}
#tama8{
border: 2px solid green;
        position: relative;
        top: 20px;
    	margin-right: 120px;
  		float: right;
  		display: inline-block;
}
#tama9{
 border: 2px solid blue;
  position: relative;
  top: 50px;
   margin-right: 120px;
    float:right;
    display: inline-block; 
}

#cajota{
    margin-top: 0%;
    height: auto;
	width: 99.5%;
}

#caja1{
	margin-top: 0%;
	height: 75%;
	width: 99%;

}

#caja2{
	margin-top: 0%;
	height: 75%;
	width: 99%;

}
#caja3{
	margin-top: 0%;
	height: 75%;
	width: 99%;

}
#caja4{
	margin-top: 0%;
	height: 75%;
	width: 99%;

}