*{
    margin-top: 0px;
    
}
body,nav,div{
    display: block;  
}



div{
     width: 90%;
        height: 900px;
        margin-left: 60px;
        background: #ffffff;
border: 2px solid #000000;
}

#cajaprincipa{
    width: 90%;
        height: 900px;
        margin-left: 60px;
        background: #ffffff;
border: 2px solid #000000;
}
#cabeza{
    -webkit-box-shadow: 5px 17px 20px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 17px 20px 5px rgba(0,0,0,0.75);
box-shadow: 5px 17px 20px 5px rgba(0,0,0,0.75); 
    width:  98%;
    border: 1px #cccccc solid;
        height: 188px;
        text-align: left;
        font-family: monospace;
        font-size: 40px;
        background: white;  
        margin: 10px;
}

#tit{
    vertical-align: middle;
    font-size: 70px;
}

#cuerpo{
    border: 1px #cccccc solid;
    width: 80%;
    height: 500px;
    float: left;
}
#categorias{
    height: 60px;
    width: 28%;
    border: 1px solid #cccccc;
    margin-top: 20px;
    float: left;
    border-radius: 10px 10px 0px 0px;
    background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}
#lista{
    list-style: none;
    margin-left: 20px;    
    font-family: sans-serif;
    text-shadow: rgba(0,0,0,1) 5px 5px 5px;    
    float: left;
}
.lista2:hover{
background: rgba(73,155,234,1);
background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
color: #ffffff;
cursor: pointer;
height: 38px;
width: 100px;
margin-top: 0px;
border-radius: 0px 0px 0px 10px;
}
#usuario{
    border: 1px #cccccc solid;
    width: 200px;
    height: 250px;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
   background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 44%, rgba(216,225,231,1) 72%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(44%, rgba(181,198,208,1)), color-stop(72%, rgba(216,225,231,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 44%, rgba(216,225,231,1) 72%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 44%, rgba(216,225,231,1) 72%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 44%, rgba(216,225,231,1) 72%, rgba(224,239,249,1) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 44%, rgba(216,225,231,1) 72%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}