
table {
  background: white;
  margin-bottom: 1.25rem;
  border: solid 3px #dddddd;
  table-layout: auto;
  margin-left: auto; }

   table thead {
    background: whitesmoke; }
    table thead tr th,
    table thead tr td {
      padding: 0.5rem 0.625rem 0.625rem;
      font-size: 0.875rem;
      font-weight: bold;
      color: #222222; 
      margin-left: auto;}

      table tr th,
       table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #222222;
    text-align: left; 
    margin-left: auto;}

      table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #f9f9f9; }