
#img{
    vertical-align: middle;
    margin: 0px;
    font-size: 35px;
    width: 720px;
    height: 200px;
}

#texto_centro{
    text-align: center;
    font-size: 18px;
    position: relative;
    margin: 10px;
    top: -100px;
}

